* {
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(231, 249, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo-wrapper {
  width: 40%;
  min-height: 150px;
  border: 2px solid blueviolet;
  border-radius: 20px;
  margin-top: 30px;
  overflow: hidden;
  padding: 20px;

  .input-wrapper {
    width: 100%;
    display: flex;
    margin-top: 10px;

    input {
      width: 100%;
      padding: 4px 10px;
    }
  }

  .single-todo-wrapper {
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
    border: 1px solid lightgreen;
    padding: 5px;
    border-radius: 5px;}
  
    .button-wrapper{
      display: flex;
      gap:10px;
    }
  
}
